# Gradle
.gradle/
**/build/

# Local SDK config
local.properties

# Android Studio
.idea/workspace.xml
.idea/tasks.xml
.idea/caches/
.idea/libraries/
.idea/shelf/
.idea/easycode.ignore

# IntelliJ
*.iml

# OS files
.DS_Store
Thumbs.db
.idea/